<section class="w-full bg-slate-50 py-12 px-4 sm:px-6 lg:px-10 xl:px-16 2xl:px-24 Contact-section ">
    <div class="container mx-auto max-w-7xl px-6 pb-12 pt-4 md:px-10 md:pt-6 lg:px-14 lg:pt-8">
  
      <!-- Title -->
      <h2 class="main-text text-3xl  pt-15 mb-10  sm:text-4xl font-semibold text-slate-900 mb-10">
        Contact us
      </h2>
  
      <!-- Cards Grid -->
      <div class="grid gap-6 md:grid-cols-2">
  
        <!-- Card 1 -->
        <article class="flex flex-col  bg-slate-100 p-6 rounded-sm  ">
          <div class="flex items-start gap-3 mb-4">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg  ">
                <i class="fa-solid fa-envelope fa-2xl"></i>
            
            </div>
  
            <div>
              <h3 class="font-semibold text-slate-900">Got questions?</h3>
              <p class="text-sm text-slate-600 font-semibold ">We’ve got answers.</p>
            </div>
          </div>
  
          <p class="text-sm text-slate-700">
           <span class=" font-semibold ">Click her</span>e to email us, or <span class=" font-semibold ">live chat</span> with us.
          </p>
        </article>
  
        <!-- Card 2 -->
        <article class="flex flex-col bg-slate-100 p-6 rounded-sm  ">
          <div class="flex items-start gap-3 mb-4">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg ">
                <i class="fa-regular fa-message fa-flip-horizontal fa-2xl"></i>
            </div>
  
            <h3 class="font-semibold text-slate-900">
              Customer service hours
            </h3>
          </div>
  
          <p class="text-sm text-slate-700">
            Sunday - Thursday: 9:00am - 5:00pm
          </p>
  
          <p class="text-sm text-slate-700 mt-1">
            Friday - Sunday: CLOSED
          </p>
        </article>
  
        <!-- Card 3 -->
        <article class="flex flex-col bg-slate-100 p-6 rounded-sm  ">
          <div class="flex items-start gap-3 mb-4">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg ">
                        <i class="fa-solid fa-phone-volume fa-2xl"></i>       </div>
  
            <h3 class="font-semibold text-slate-900">
              For inquiries about our AI Glasses Meta collection
            </h3>
          </div>
  
          <p class="text-sm text-slate-700">
            Call 0123456789 Sunday - Thursday: 9:00am - 5:00pm
          </p>
  
          <p class="text-sm text-slate-700 mt-1">
            Saturday: 9:00am - 5:00pm (Phone only)
          </p>
  
          <p class="text-sm text-slate-700 mt-1">
            Friday: CLOSED
          </p>
        </article>
  
        <!-- Card 4 -->
        <article class="flex flex-col bg-slate-100 p-6 rounded-sm  ">
          <div class="flex items-start gap-3 mb-4">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg ">
                <i class="fa-solid fa-inbox fa-2xl"></i>            </div>
  
            <h3 class="font-semibold text-slate-900">
              Social Concierge Team
            </h3>
          </div>
  
          <p class="text-sm text-slate-700">
            DM us on Instagram, Facebook, or Twitter.
          </p>
  
          <p class="text-sm text-slate-700 mt-1">
            Our Social Concierge Team is ready to assist you!
          </p>
        </article>
  
        <!-- Card 5 -->
        <article class="flex flex-col bg-slate-100 p-6 rounded-sm  ">
          <div class="flex items-start gap-3 mb-4">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg ">
              <i class="fa-solid fa-truck-fast fa-2xl"></i>
            </div>
  
            <h3 class="font-semibold text-slate-900">Shipping</h3>
          </div>
  
          <p class="text-sm text-slate-700">
            We offer Free Standard Shipping with delivery within 15 business days.          </p>
            <p class="text-sm text-slate-700 "> Need your order faster? Choose one of our express options:</p>
  
          <ul class="list-disc pl-5 text-sm text-slate-700 mt-2 space-y-1">
            <li><b>Fast Delivery</b> for EGP 50 within 5 business days.</li>
            <li><b>Next-Day Delivery</b> for EGP 100 within 1 business day.</li>
          </ul>
        </article>
  
        <!-- Card 6 -->
        <article class="flex flex-col bg-slate-100 p-6 rounded-sm    ">
          <div class="flex items-start gap-3 mb-4">
            <div class="flex h-10 w-10 items-center justify-center rounded-lg ">
                <i class="fa-solid fa-box-archive fa-2xl"></i>
            </div>
  
            <h3 class="font-semibold text-slate-900">Returns</h3>
          </div>
  
          <p class="text-sm text-slate-700">
            You can return your glasses within 60 days of receiving your product with free return shipping. First fill out the return request form. You will receive a prepaid shipping label or update on your request within 48 hours. Print the shipping label, pack it in the original packaging, add the shipping label and send it off. Once we’ve received your undamaged return, we’ll refund you in 7-10 days back to the original form of payment.          </p>
  
        
        </article>
  
      </div>
    </div>
  </section>